div {
    box-sizing: border-box;
    width: 100%;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation {
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.85); }
    to { transform: scale(1); }
}

p.text {
    font-size: 30px;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}